.Portfolio_TextButton {
  height: 2.4rem;
  color: gray;
  border: 1px solid darkgray;
  background-color: white;
  font-size: 0.7rem;
  user-select: none;
}

.Portfolio_TextButton:hover {
  background-color: darkgray;
  cursor: pointer;
  color: white;
}

.Portfolio_TextButton:focus {
  outline: 0;
}

@media (min-width: 576px) {
  .Portfolio_TextButton {
    font-size: 1rem;
  }
}