.Portfolio_AboutSkills .AboutSkills_Heading {
  font-size: 1.2rem;
  color: gray;
}

.Portfolio_AboutSkills .AboutSkills_Main {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .Portfolio_AboutSkills .AboutSkills_Heading {
    font-size: 1.4rem;
  }
  
  .Portfolio_AboutSkills .AboutSkills_Main {
    font-size: 1.2rem;
  }
}