.Portfolio_ProjectModal_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Portfolio_ProjectModal_Content {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background: #fff;
  outline: 0;
  padding: 20px;
}

@media (min-width: 992px) {
  .Portfolio_ProjectModal_Content {
    width: 40%;
  }
}